static-pages/app/html/about.pug
extends layout/page-layout-4
 
block head
    meta(property="og:url", content="https://thegreatsingaporereplay.sg/about.html")
    meta(property="og:title", content="The Great Singapore Replay: Season 2")
    meta(property="og:image:secure_url", content="https://thegreatsingaporereplay.sg/clientlibs/images/global/about_og.jpg")
    title The Great Singapore Replay: Season 2 | About
 
block content
    //- .about-background-photo-pattern
    //-     img(src='clientlibs/images/lights/about-background.jpg')
    //- .about-background-photo
    //-     img(src='clientlibs/images/lights/about-background-plain.jpg')
 
    .about-page.body-contents
 
 
        //- .background-pattern-left
        //-     img(src='clientlibs/images/lights/img_motif_abtprog_left1@2x.png')
 
        //- .background-pattern-right
        //-     img(src='clientlibs/images/lights/img_motif_abtprog_left1@2x.png')
 
 
        .container-2
            .page-title(data-aos="fade-up")
                h5 ABOUT THE PROGRAMME
                h3 THE GREAT SINGAPORE REPLAY: SEASON 2
 
       
            .introduction(data-aos="fade-up")
                h5.title-blue Reliving Singapore's History Through Music
 
                p Presented by Temasek, the biennial The Great Singapore Replay (TGSR) is about discovery and collaboration - discovery of Singapore's rich music heritage and the collaboration between established artists and the next generation of aspiring young local talents to create original 'Made-in-Singapore' songs.
                p In its second season, TGSR offers 10 music talents the opportunity to be guided by five established artists in creating 10 new original songs. These songs will be inspired by mashups of distinct tunes, voted by the public, from five iconic eras of Singapore's history and five modern music genres.
                p Discovery and collaboration have always been the heart and soul of TGSR, and this season will have no shortage of either. Expect to see an even bigger collaboration of artists and industry professionals, in this continued effort to nurture Singapore's music scene and showcase our diversity of aspiring young talents.
                p Time to tune in, because music history is about to be written.
                p Working with local music industry players, the selected talents will undergo a professional production experience, comprising song-writing workshop, song arrangement and recording. It will also include the marketing and creating of individual artists' brand, and the launch of their songs on popular digital music streaming platforms.
       
            h5.title-pink(data-aos="fade-up") Presented By
            .row.partner-block(data-aos="fade-up")
                .col-12.col-sm-12.col-md-4
                    .partner-logos(data-aos="fade-up")
                        img(src="clientlibs/images/global/logo-temasek@2x.png")
                .col-12.col-sm-12.col-md-8(data-aos="fade-up")
                    p Temasek is an investment company with a net portfolio value of S$313 billion as at 31 March 2019. Our Temasek Charter roles as an investor, institution and steward shape our investment stance, ethos and philosophy, to do well, do right and do good. We actively seek sustainable solutions to address present and future challenges, as we capture investment and other opportunities that help to bring about a better, smarter and more connected world. As a Trusted Steward, Temasek has gifted 19 philanthropic endowments that make possible outcome-focused programmes that enable individuals, families and communities to achieve sustainable improvements and progress in their lives.
 
                    a(href='https://www.temasek.com.sg') www.temasek.com.sg.
 
                    .d-flex.flex-row.social-icons
                        a(href='https://www.facebook.com/temasekholdings', target="_blank")
                            img(src="clientlibs/images/global/icon-facebook@2x.png")
                        a(href='https://instagram.com/temasekseen/', target="_blank")
                            img(src="clientlibs/images/global/icon-instagram@2x.png")
                        a(href='https://twitter.com/Temasek', target="_blank")
                            img(src="clientlibs/images/global/icon-twitter@2x.png")
                        a(href='https://www.youtube.com/user/TemasekDigital', target="_blank")
                            img(src="clientlibs/images/global/icon-youtube@2x.png")
 
 
            .support-title
                h5.title-pink(data-aos="fade-up") Supported By
                .row
                    .col-6.col-sm-6.col-md-4
                        .special-logos(data-aos="flip-up")
                            img(src='clientlibs/images/logos/logo-sony@2x.png')
                    .col-6.col-sm-6.col-md-4
                        .special-logos(data-aos="flip-up")
                            img(src='clientlibs/images/logos/logo-universal@2x.png')
                    .col-6.col-sm-6.col-md-4
                        .special-logos(data-aos="flip-up")
                            img(src='clientlibs/images/logos/logo-warner@2x.png' style="margin-left:-16px")
                    .col-6.col-sm-6.col-md-4
                        .special-logos(data-aos="flip-up")
                            img(src='clientlibs/images/logos/logo-warrierrecords@2x.png')
                    .col-6.col-sm-6.col-md-4
                        .special-logos(data-aos="flip-up")
                            img(src='clientlibs/images/logos/logo-zendyll@2x.png' style="margin-left:-40px")
 
            .support-title.bicentennial
                h5.title-pink(data-aos="fade-up") In Support Of
                .row
                    .col-6.col-sm-6.col-md-4
                        .special-logos(data-aos="flip-up")
                            img(src='clientlibs/images/global/big-logo-SGBicentennial@2x.png')
 
            //- .support-title.special-block
            //-     h5.title-pink(data-aos="fade-up") Special Thanks
            //-     .row
            //-         .col-6.col-sm-6.col-md-4
            //-             .special-logos(data-aos="flip-up")
            //-                 img(src='clientlibs/images/logos/special-logo-01@2x.png')
            //-         .col-6.col-sm-6.col-md-4
            //-             .special-logos(data-aos="flip-up")
            //-                 img(src='clientlibs/images/logos/special-logo-02@2x.png')
            //-         .col-6.col-sm-6.col-md-4
            //-             .special-logos(data-aos="flip-up")
            //-                 img(src='clientlibs/images/logos/special-logo-03@2x.png')
            //-         .col-6.col-sm-6.col-md-4
            //-             .special-logos(data-aos="flip-up")
            //-                 img(src='clientlibs/images/logos/special-logo-04@2x.png')
            //-         .col-6.col-sm-6.col-md-4
            //-             .special-logos(data-aos="flip-up")
            //-                 img(src='clientlibs/images/logos/special-logo-05@2x.png')

public/about.html
<!DOCTYPE html>
<html lang="">
  <head>
    <!-- Lightning Bolt Begins-->
    <script id="lightning_bolt" type="text/javascript" src="//cdn-akamai.mookie1.com/LB/LightningBolt.js"></script>
    <!-- Lightning Bolt Ends-->
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-538D4FF');
    </script>
    <!-- End Google Tag Manager-->
    <!-- Facebook Pixel Code-->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '977185412620356');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=977185412620356&amp;ev=PageView&amp;noscript=1"></noscript>
    <!-- End Facebook Pixel Code-->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:url" content="https://thegreatsingaporereplay.sg/about.html">
    <meta property="og:title" content="The Great Singapore Replay: Season 2">
    <meta property="og:image:secure_url" content="https://thegreatsingaporereplay.sg/clientlibs/images/global/about_og.jpg">
    <title>The Great Singapore Replay: Season 2 | About</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="clientlibs/css/plugins.css">
    <link rel="stylesheet" href="https://use.typekit.net/lhi2oiy.css">
    <link rel="stylesheet" href="clientlibs/css/components.css">
    <link rel="icon" type="image/x-icon" href="clientlibs/images/tgsr_favicon/favicon.ico">
  </head>
  <body class="about-background">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-538D4FF" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)--><!-- Start: Header Component -->
    <!-- Start: Logo-->
    <div class="tgsr-logo home-carousel-active"><a href="/"><img src="clientlibs/images/global/tgsr_logo.gif"></a></div>
    <header>
      <audio src="clientlibs/audio/songs.wav" id="notifypop"></audio>
      <ul class="nav-bar">
        <li>
          <div class="share-icon"><img src="clientlibs/images/navigation/icon_share@2x.png">
            <div class="social-share-link"><a href="https://www.facebook.com/sharer.php?u={url}" title="facebook" target="_blank"><img src="clientlibs/images/global/icon-facebook@2x.png"></a><a href="https://twitter.com/intent/tweet?url={url}" title="Twitter" target="_blank"><img src="clientlibs/images/global/icon-twitter@2x.png"></a></div>
          </div>
        </li>
        <li class="hamburger">
          <div class="menu-icon">
            <div class="bars">
              <div class="bar-1"></div>
              <div class="bar-2"></div>
              <div class="bar-3"></div>
            </div>
          </div>
        </li>
      </ul>
      <div class="nav-menu">
        <div class="navbar-anchors">
          <div class="tgsr-logo-inside"><a href="/"><img src="clientlibs/images/global/tgsr_logo.gif"></a></div>
          <ul class="main-links">
            <li><a class="hamburger" href="/">HOME</a></li>
            <li><a href="/artists/" id="artists">ASPIRING MUSIC TALENTS</a></li>
            <li><a href="/mashup-gallery/" id="themashups">FAVOURITE MASHUPS</a></li>
            <li><a href="/producers/" id="musicproducers">PRODUCERS</a></li>
            <li><a href="/singapore-finest-artists.html" id="establishedartists">ESTABLISHED ARTISTS</a></li>
            <li><a href="/spin-player/" id="spinplayer">SPIN PLAYER</a></li>
            <li><a href="/times-tunes.html" id="timesntunes">TIMES & TUNES</a></li>
            <li><a class="events" href="/events.html">EVENTS</a></li>
          </ul>
          <ul class="other-links">
            <li><a href="/about.html" id="abouthtml">ABOUT THE PROGRAMME</a></li>
            <li><a href="alumni.html" id="thealumni">THE ALUMNI</a></li>
            <li><a href="https://stories.thegreatsingaporereplay.sg/" target="_blank" id="replaystories">REPLAY STORIES</a></li>
            <li><a href="/faq.html" id="faqs">FAQs</a></li>
            <li><a href="/tnc.html" target="_blank" id="termscondition">TERMS &amp; CONDITIONS</a></li>
            <li> <a href="/privacy.html" target="_blank" id="privacy">PRIVACY POLICY</a></li>
            <li class="social-icons-list"><a id="facebook_social" href="https://www.facebook.com/thegreatsingaporereplay/"><img src="clientlibs/images/global/icon_fb@2x.png"></a><a id="instagram_social" href="https://www.instagram.com/thegreatsingaporereplay/"><img src="clientlibs/images/global/icon_ig@2x.png"></a></li>
          </ul>
        </div>
        <div class="navigation-background"><img class="for-desktop" src="clientlibs/images/navigation/nav-background.jpg"><img class="for-mobile" src="clientlibs/images/navigation/nav-background-mobile.jpg"></div>
        <div class="spot-lights">
          <div class="spot-light-left static"><img src="clientlibs/images/lights/img_spotlight_faded@2x.png"></div>
          <div class="spot-light-right static"><img src="clientlibs/images/lights/img_spotlight_faded@2x.png"></div>
        </div>
        <div class="bottom-background"><a class="no-line" href="https://www.temasek.com.sg/" target="_blank"><img src="clientlibs/images/navigation/bg_hero_nav@2x.png"></a></div>
      </div>
    </header><!-- End: Header Component -->
    <div class="about-page body-contents">
      <div class="container-2">
        <div class="page-title" data-aos="fade-up">
          <h5>ABOUT THE PROGRAMME</h5>
          <h3>THE GREAT SINGAPORE REPLAY: SEASON 2</h3>
        </div>
        <div class="introduction" data-aos="fade-up">
          <h5 class="title-blue">Reliving Singapore's History Through Music</h5>
          <p>Presented by Temasek, the biennial The Great Singapore Replay (TGSR) is about discovery and collaboration - discovery of Singapore's rich music heritage and the collaboration between established artists and the next generation of aspiring young local talents to create original 'Made-in-Singapore' songs.</p>
          <p>In its second season, TGSR offers 10 music talents the opportunity to be guided by five established artists in creating 10 new original songs. These songs will be inspired by mashups of distinct tunes, voted by the public, from five iconic eras of Singapore's history and five modern music genres.</p>
          <p>Discovery and collaboration have always been the heart and soul of TGSR, and this season will have no shortage of either. Expect to see an even bigger collaboration of artists and industry professionals, in this continued effort to nurture Singapore's music scene and showcase our diversity of aspiring young talents.</p>
          <p>Time to tune in, because music history is about to be written.</p>
          <p>Working with local music industry players, the selected talents will undergo a professional production experience, comprising song-writing workshop, song arrangement and recording. It will also include the marketing and creating of individual artists' brand, and the launch of their songs on popular digital music streaming platforms.</p>
        </div>
        <h5 class="title-pink" data-aos="fade-up">Presented By</h5>
        <div class="row partner-block" data-aos="fade-up">
          <div class="col-12 col-sm-12 col-md-4">
            <div class="partner-logos" data-aos="fade-up"><img src="clientlibs/images/global/logo-temasek@2x.png"></div>
          </div>
          <div class="col-12 col-sm-12 col-md-8" data-aos="fade-up">
            <p>Temasek is an investment company with a net portfolio value of S$313 billion as at 31 March 2019. Our Temasek Charter roles as an investor, institution and steward shape our investment stance, ethos and philosophy, to do well, do right and do good. We actively seek sustainable solutions to address present and future challenges, as we capture investment and other opportunities that help to bring about a better, smarter and more connected world. As a Trusted Steward, Temasek has gifted 19 philanthropic endowments that make possible outcome-focused programmes that enable individuals, families and communities to achieve sustainable improvements and progress in their lives.</p><a href="https://www.temasek.com.sg">www.temasek.com.sg.</a>
            <div class="d-flex flex-row social-icons"><a href="https://www.facebook.com/temasekholdings" target="_blank"><img src="clientlibs/images/global/icon-facebook@2x.png"></a><a href="https://instagram.com/temasekseen/" target="_blank"><img src="clientlibs/images/global/icon-instagram@2x.png"></a><a href="https://twitter.com/Temasek" target="_blank"><img src="clientlibs/images/global/icon-twitter@2x.png"></a><a href="https://www.youtube.com/user/TemasekDigital" target="_blank"><img src="clientlibs/images/global/icon-youtube@2x.png"></a></div>
          </div>
        </div>
        <div class="support-title">
          <h5 class="title-pink" data-aos="fade-up">Supported By</h5>
          <div class="row">
            <div class="col-6 col-sm-6 col-md-4">
              <div class="special-logos" data-aos="flip-up"><img src="clientlibs/images/logos/logo-sony@2x.png"></div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
              <div class="special-logos" data-aos="flip-up"><img src="clientlibs/images/logos/logo-universal@2x.png"></div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
              <div class="special-logos" data-aos="flip-up"><img src="clientlibs/images/logos/logo-warner@2x.png" style="margin-left:-16px"></div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
              <div class="special-logos" data-aos="flip-up"><img src="clientlibs/images/logos/logo-warrierrecords@2x.png"></div>
            </div>
            <div class="col-6 col-sm-6 col-md-4">
              <div class="special-logos" data-aos="flip-up"><img src="clientlibs/images/logos/logo-zendyll@2x.png" style="margin-left:-40px"></div>
            </div>
          </div>
        </div>
        <div class="support-title bicentennial">
          <h5 class="title-pink" data-aos="fade-up">In Support Of</h5>
          <div class="row">
            <div class="col-6 col-sm-6 col-md-4">
              <div class="special-logos" data-aos="flip-up"><img src="clientlibs/images/global/big-logo-SGBicentennial@2x.png"></div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Start: Footer Component -->
    <footer class="body-contents relative">
      <div class="container-fluid footer-contents">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3 col-lg-3 col-xl-3">
            <ul class="footer-list footer-left">
              <li>
                <div class="title">Presented by</div>
                <div class="partner-logo"><a class="no-line" href="https://www.temasek.com.sg/" target="_blank"><img src="clientlibs/images/global/logo_temasek_white@2x.png"></a></div>
              </li>
            </ul>
          </div>
          <div class="col-12 col-sm-8 col-md-9 col-lg-9 col-xl-9">
            <div class="footer-logos-block">
              <div class="footer-logos-content"><img src="clientlibs/images/footer/footer-logo.png"></div>
            </div>
          </div>
        </div>
      </div>
    </footer><!-- End: Footer Component -->
    <div class="site-maintenance"><img src="/clientlibs/images/tgsr_ie.png" alt=""></div>
    <!-- Plugin Scripts-->
    <script src="clientlibs/js/plugins/jquery.js"></script>
    <script src="clientlibs/js/plugins/bootstrap.min.js"></script>
    <script src="clientlibs/js/plugins/slick.js"></script>
    <!--![if !IE]-->
    <script src="clientlibs/js/plugins/aos.js"></script>
    <!--![endif]-->
    <!-- Custom Scripts-->
    <script src="clientlibs/js/scripts.js"></script>
  </body>
</html>
