static-pages/app/html/index.pug
extends layout/page-layout-1

block head
    meta(property="og:url", content="https://thegreatsingaporereplay.sg")
    meta(property="og:title", content="The Great Singapore Replay: Season 2")
    meta(property="og:image:secure_url", content="https://thegreatsingaporereplay.sg/clientlibs/images/global/homepage_og.jpg")
    title The Great Singapore Replay: Season 2

block content

    // End: Logo

    // Start: Lights
    //- .spot-lights.body-contents
    //-     .spot-light-left.infinite
    //-         img(src="clientlibs/images/lights/img_spotlight_faded@2x.png")
    //-     .spot-light-right.infinite
    //-         img(src="clientlibs/images/lights/img_spotlight_faded@2x.png")
    //- .background-lights.body-contents
    //-     .pink-blue-light
    //-         img.for-desktop(src="clientlibs/images/lights/home-lights.png")
    //-         img.for-mobile(src="clientlibs/images/home-page/home-background-mobile.jpg")
    // End: Lights

    // Start: Slider
    .home-slider.body-contents

        .slider-item
            .home-slider-item
                .item-content-block.mentors-slide
                    .image-block
                        .inner-block
                            img.for-desktop(src="clientlibs/images/home-page/carousel/artists-desktop.png")
                            img.mentors-mobile.for-mobile(src="clientlibs/images/home-page/carousel/artists-mobile.png")
                            //- .fog-light
                            //-     img(src="clientlibs/images/home-page/stere-background-blur.png")
                    .text-block
                        .text-content
                            h5 THE BIG REVEAL
                            h3 MEET THE ASPIRING MUSIC TALENTS
                            p 230 submissions over 3 weeks. Meet our 10 aspiring music acts who will be participating in Season 2 of The Great Singapore Replay. See who they are here.

                            .expanding-btn
                                //- a(href="/open-call.html" , id="join-opencall-cta-home") Join the Open Call
                                a(href="/artists/" , id="artists") MEET THE MUSIC ACTS

                            //- a(href="/singapore-finest-artists.html" id="artistdetails") Get To Know The Artists

        .slider-item
            .home-slider-item
                .item-content-block
                    .image-block.second-image
                        .video-box
                            img.animated-logo(src='clientlibs/images/global/tgsr_logo_home.gif')
                            img.boombox-image.for-desktop(src="clientlibs/images/home-page/carousel/mashups-desktop.png")

                            img.boombox-image-mobile.for-mobile(src="clientlibs/images/home-page/carousel/mashups-mobile.png")

                            .video-block.for-desktop
                                //- img(src='clientlibs/videos/video_thumbnail.jpg')
                                video(width='400', autoplay, muted, loop, poster='clientlibs/videos/video_thumbnail.jpg')
                                    source(src='clientlibs/videos/tgsr_boombox.MP4', type='video/mp4')
                                    |   Your browser does not support HTML5 video.


                        //- .stage-1.for-desktop
                        //-     img.aos-animate(src="clientlibs/images/home-page/motif@2x.png", data-aos="zoom-in-down",  data-aos-easing="ease-out-cubic", data-aos-duration="2000")
                        //-     .fog-light
                        //-         img(src="clientlibs/images/home-page/stere-background-blur.png")
                    .text-block.second-text
                        .text-content
                            h5 10 FAVOURITE MASHUPS 
                            h3 SINGAPORE MIXED AND VOTED
                            p These are the 10 mashups voted by the public and Singapore's finest artists that will be used to inspire the 10 aspiring music acts to create their original Made-in-Singapore songs. 

                            .expanding-btn
                                a(href="/mashup-gallery/" , id="mashups") VIEW THE MASHUPS

                            //- a(href='/times-tunes.html') Experience The Times & Tunes


        
    // End: Slider

public/index.html
<!DOCTYPE html>
<html lang="">
  <head>
    <!-- Lightning Bolt Begins-->
    <script id="lightning_bolt" type="text/javascript" src="//cdn-akamai.mookie1.com/LB/LightningBolt.js"></script>
    <!-- Lightning Bolt Ends-->
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-538D4FF');
    </script>
    <!-- End Google Tag Manager-->
    <!-- Facebook Pixel Code-->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '977185412620356');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=977185412620356&amp;ev=PageView&amp;noscript=1"></noscript>
    <!-- End Facebook Pixel Code-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:url" content="https://thegreatsingaporereplay.sg">
    <meta property="og:title" content="The Great Singapore Replay: Season 2">
    <meta property="og:image:secure_url" content="https://thegreatsingaporereplay.sg/clientlibs/images/global/homepage_og.jpg">
    <title>The Great Singapore Replay: Season 2</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="clientlibs/css/plugins.css">
    <link rel="stylesheet" href="https://use.typekit.net/lhi2oiy.css">
    <link rel="stylesheet" href="clientlibs/css/components.css">
    <link rel="icon" type="image/x-icon" href="clientlibs/images/tgsr_favicon/favicon.ico">
  </head>
  <body>
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-538D4FF" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)--><!-- Start: Header Component -->
    <!-- Start: Logo-->
    <div class="tgsr-logo home-carousel-active"><a href="/"><img src="clientlibs/images/global/tgsr_logo.gif"></a></div>
    <header>
      <audio src="clientlibs/audio/songs.wav" id="notifypop"></audio>
      <ul class="nav-bar">
        <li>
          <div class="share-icon"><img src="clientlibs/images/navigation/icon_share@2x.png">
            <div class="social-share-link"><a href="https://www.facebook.com/sharer.php?u={url}" title="facebook" target="_blank"><img src="clientlibs/images/global/icon-facebook@2x.png"></a><a href="https://twitter.com/intent/tweet?url={url}" title="Twitter" target="_blank"><img src="clientlibs/images/global/icon-twitter@2x.png"></a></div>
          </div>
        </li>
        <li class="hamburger">
          <div class="menu-icon">
            <div class="bars">
              <div class="bar-1"></div>
              <div class="bar-2"></div>
              <div class="bar-3"></div>
            </div>
          </div>
        </li>
      </ul>
      <div class="nav-menu">
        <div class="navbar-anchors">
          <div class="tgsr-logo-inside"><a href="/"><img src="clientlibs/images/global/tgsr_logo.gif"></a></div>
          <ul class="main-links">
            <li><a class="hamburger" href="/">HOME</a></li>
            <li><a href="/artists/" id="artists">ASPIRING MUSIC TALENTS</a></li>
            <li><a href="/mashup-gallery/" id="themashups">FAVOURITE MASHUPS</a></li>
            <li><a href="/producers/" id="musicproducers">PRODUCERS</a></li>
            <li><a href="/singapore-finest-artists.html" id="establishedartists">ESTABLISHED ARTISTS</a></li>
            <li><a href="/spin-player/" id="spinplayer">SPIN PLAYER</a></li>
            <li><a href="/times-tunes.html" id="timesntunes">TIMES & TUNES</a></li>
            <li><a class="events" href="/events.html">EVENTS</a></li>
          </ul>
          <ul class="other-links">
            <li><a href="/about.html" id="abouthtml">ABOUT THE PROGRAMME</a></li>
            <li><a href="alumni.html" id="thealumni">THE ALUMNI</a></li>
            <li><a href="https://stories.thegreatsingaporereplay.sg/" target="_blank" id="replaystories">REPLAY STORIES</a></li>
            <li><a href="/faq.html" id="faqs">FAQs</a></li>
            <li><a href="/tnc.html" target="_blank" id="termscondition">TERMS &amp; CONDITIONS</a></li>
            <li> <a href="/privacy.html" target="_blank" id="privacy">PRIVACY POLICY</a></li>
            <li class="social-icons-list"><a id="facebook_social" href="https://www.facebook.com/thegreatsingaporereplay/"><img src="clientlibs/images/global/icon_fb@2x.png"></a><a id="instagram_social" href="https://www.instagram.com/thegreatsingaporereplay/"><img src="clientlibs/images/global/icon_ig@2x.png"></a></li>
          </ul>
        </div>
        <div class="navigation-background"><img class="for-desktop" src="clientlibs/images/navigation/nav-background.jpg"><img class="for-mobile" src="clientlibs/images/navigation/nav-background-mobile.jpg"></div>
        <div class="spot-lights">
          <div class="spot-light-left static"><img src="clientlibs/images/lights/img_spotlight_faded@2x.png"></div>
          <div class="spot-light-right static"><img src="clientlibs/images/lights/img_spotlight_faded@2x.png"></div>
        </div>
        <div class="bottom-background"><a class="no-line" href="https://www.temasek.com.sg/" target="_blank"><img src="clientlibs/images/navigation/bg_hero_nav@2x.png"></a></div>
      </div>
    </header><!-- End: Header Component -->
    <!-- End: Logo-->
    <!-- Start: Lights-->
    <!-- End: Lights-->
    <!-- Start: Slider-->
    <div class="home-slider body-contents">
      <div class="slider-item">
        <div class="home-slider-item">
          <div class="item-content-block mentors-slide">
            <div class="image-block">
              <div class="inner-block"><img class="for-desktop" src="clientlibs/images/home-page/carousel/artists-desktop.png"><img class="mentors-mobile for-mobile" src="clientlibs/images/home-page/carousel/artists-mobile.png"></div>
            </div>
            <div class="text-block">
              <div class="text-content">
                <h5>THE BIG REVEAL</h5>
                <h3>MEET THE ASPIRING MUSIC TALENTS</h3>
                <p>230 submissions over 3 weeks. Meet our 10 aspiring music acts who will be participating in Season 2 of The Great Singapore Replay. See who they are here.</p>
                <div class="expanding-btn"><a href="/artists/" id="artists">MEET THE MUSIC ACTS</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-item">
        <div class="home-slider-item">
          <div class="item-content-block">
            <div class="image-block second-image">
              <div class="video-box"><img class="animated-logo" src="clientlibs/images/global/tgsr_logo_home.gif"><img class="boombox-image for-desktop" src="clientlibs/images/home-page/carousel/mashups-desktop.png"><img class="boombox-image-mobile for-mobile" src="clientlibs/images/home-page/carousel/mashups-mobile.png">
                <div class="video-block for-desktop">
                  <video width="400" autoplay muted loop poster="clientlibs/videos/video_thumbnail.jpg">
                    <source src="clientlibs/videos/tgsr_boombox.MP4" type="video/mp4">  Your browser does not support HTML5 video.
                  </video>
                </div>
              </div>
            </div>
            <div class="text-block second-text">
              <div class="text-content">
                <h5>10 FAVOURITE MASHUPS </h5>
                <h3>SINGAPORE MIXED AND VOTED</h3>
                <p>These are the 10 mashups voted by the public and Singapore's finest artists that will be used to inspire the 10 aspiring music acts to create their original Made-in-Singapore songs. </p>
                <div class="expanding-btn"><a href="/mashup-gallery/" id="mashups">VIEW THE MASHUPS</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Slider--><!-- Start: Footer Component -->
    <footer class="body-contents">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3 col-lg-3 col-xl-3">
            <ul class="footer-list footer-left">
              <li>
                <div class="title">Presented by</div>
                <div class="partner-logo"><a class="no-line" href="https://www.temasek.com.sg/" target="_blank"><img src="clientlibs/images/global/logo_temasek_white@2x.png"></a></div>
              </li>
            </ul>
          </div>
          <div class="col-12 col-sm-8 col-md-9 col-lg-9 col-xl-9">
            <div class="footer-logos-block">
              <div class="footer-logos-content"><img src="clientlibs/images/footer/footer-logo.png"></div>
            </div>
          </div>
        </div>
      </div>
    </footer><!-- End: Footer Component -->
    <div class="site-maintenance"><img src="/clientlibs/images/tgsr_ie.png" alt=""></div>
    <!-- Plugin Scripts-->
    <script src="clientlibs/js/plugins/jquery.js"></script>
    <script src="clientlibs/js/plugins/bootstrap.min.js"></script>
    <script src="clientlibs/js/plugins/slick.js"></script>
    <!--![if !IE]-->
    <script src="clientlibs/js/plugins/aos.js"></script>
    <!--![endif]-->
    <!-- Custom Scripts-->
    <script src="clientlibs/js/scripts.js"></script>
  </body>
</html>
